/* Master Styles */
h1 {
  color: #369;
  font-family: 'Oleo Script', Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}
h2, h3 {
  color: #444;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0;
  background: #eee;
}
input[type=text] {
  border: 1px solid #cecece;
  border-radius: 3px;
  height: 2.5em;
  line-height: 2.5em;
  padding: 8px;
}
body, input[type=text], button {
  color: #888;
  font-family: 'Open Sans', Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button, .button {
  font-family: 'Open Sans', Arial;
  background-color: #eee;
  border: 1px solid #eee;
  letter-spacing: 1.5;
  padding: 5px 10px;
  text-transform: uppercase;
  /* border-radius: 4px; */
  cursor: pointer;
  cursor: hand;
}
button:hover, .button:hover {
  background-color: #cfd8dc;
}
button:disabled, .button:disabled {
  background-color: #fff;
  border: 1px solid #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}

/* main content area */
.vr-content {
  margin: 0 auto;
  min-height: 500px;
}

.user-name {
  font-style: italic;
}

input[type=text][required].ng-valid {
  border: 1px solid #cecece;
  border-left: 5px solid #42A948; /* green */
  padding-left: 3px;
}

input[type=text].ng-invalid {
  border: 1px solid #a94442; /* red */
  border-left: 5px solid #a94442;
  padding-left: 3px;
}

.error-msg {
  color: #a94442;
}

.hidden {
  display: none;
}

/* everywhere else */
* {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
