<div id="vr-voting-interface" *ngIf="stateService.nameSended && stateService.userMayVote && !stateService.voteEnded">
  <h2>Please vote in the following list below!</h2>
  <span>You may vote as: <span class="user-name">{{ stateService.userName }}</span></span><br>
  <div>
    <p>The flollowing users voted so far:</p>
    <p class="user-name">{{ userList }}</p>
  </div>
  <ul id="event-list">
    <li *ngFor="let event of eventList; let i = index">
      <span class="event-name">{{event.name}}</span>
      <span class="event-details">
        <input type="range" min="0" max="{{ maxVoteVal }}" [(ngModel)]="currentVotes[i].vote">
        <span class="vote-details">{{ currentVotes[i].vote }} / {{ maxVoteVal }}</span>
      </span>
    </li>
  </ul>
  <button (click)="sendVotes()">Vote!</button>
</div>
<vote-results
  *ngIf="stateService.nameSended && ( !stateService.userMayVote || stateService.voteEnded )"
  [endResults]="eventAvgList">
</vote-results>
