<!-- div id="vr-voting-interface" *ngIf="eventList && stateService.nameSended && stateService.userMayVote && !stateService.voteEnded" -->
<div id="vr-voting-interface" *ngIf="eventList">
  <h2>Voting for: {{ eventList.name }}</h2>
  <span>You may vote as: <span class="user-name">{{ stateService.userName }}</span></span><br>
  <form [ngFormModel]="votingForm" (ngSubmit)="sendVotes()" novalidate>
  <div>Votes given:
    <input id="sumOfVotes" type="text" [(ngModel)]="sumOfVotes" ngControl="sumOfVotesControl" readonly>
    <span *ngIf="!sumOfVotesControl.valid" class="error-msg">You must set {{ maxVoteVal }} votes in total!</span>
  </div>
    <ul id="event-list">
      <li *ngFor="let event of eventList.events; let i = index">
        <span class="event-name">{{event.name}}</span>
        <span class="event-details">
          <input type="range" min="0" max="{{ maxVoteVal }}" [(ngModel)]="currentVotes[i].vote" (change)="voteChanged()">
          <span class="vote-details">{{ currentVotes[i].vote }} / {{ maxVoteVal }}</span>
        </span>
      </li>
    </ul>
    <!-- $event needed (preventDefault), becouse button also submits form -->
    <button (click)="goBack($event)">Back</button>
    <input class="button" type="submit" [disabled]="!votingForm.valid" value="Vote">
  </form>
</div>
