<section id="create-event">
  <form [ngFormModel]="newEventForm" (ngSubmit)="saveNewEvent()">
    <h2>Create an event</h2>
    <label for="eventName">Event name: </label>
    <br><input id="eventName" type="text"
      [(ngModel)]="eventName"
      ngControl="eventName"
    >
    <br><label for="optionName">Event option name: </label>
    <br><input id="optionName" type="text"
      [(ngModel)]="eventOptionName"
    >
    <button (click)="addEventOption()" [disabled]="!eventOptionName">Add</button>
    <br>

    <p>
      The following event options will be saved:
      <span class="error-msg" [hidden]="newEventForm.controls.eventOptionCounter.valid">
        You need to add atleast {{ minNumOfEventOptions - eventOptionCounter }} event options!
      </span>
    </p>
    <input type="text"
      [(ngModel)]="eventOptionCounter"
      ngControl="eventOptionCounter"
      [hidden]="true"
      readonly>
    <ul class="event-option-list">
      <li *ngFor="let event of newEvent.events; let i = index">
        <span class="item-name">{{event.name}}</span>
        <span class="remove-item-wrapper" (click)="deleteEventOption(i)">
          <i class="del-icon">[X]</i>
        </span>
      </li>
    </ul>
    <button (click)="goBack($event)">Back</button>
    <input class="button" type="submit" value="save" [disabled]="!newEventForm.valid">
  </form>
</section>
