<div id="vr-input-form-component">
  <h2>Welcome <i class="fa fa-home" aria-hidden="true"></i></h2>
  <p>Please enter your name to proceed</p>
  <form (ngSubmit)="sendName()" #nameForm="ngForm" novalidate>
    <section class="input-fields">
      <input type="text" placeholder="Add your name here" required
             [(ngModel)]="userName"
             ngControl="userName">
      <span>The name you entered is: <span class="user-name">{{userName}}</span></span>
    </section>
    <button type="submit" [disabled]="!nameForm.form.valid">Send</button>
  </form>
</div>
